<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace = "com.myweb.mappers.QueryMapper"> 
 	<select id = "visitCounter" resultType = "Integer">
 		SELECT COUNT(*)
 		 FROM contador_visitas
 	</select> 	
 	<select id = "returnId" resultType = "Integer">
 		SELECT id
 		 FROM contador_visitas
 	</select> 	
</mapper>