<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="localCacheScope" value="STATEMENT"/>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="defaultFetchSize" value="100" />
		<setting name="defaultStatementTimeout" value="60" />		
	</settings>
	<typeAliases>
		<package name="com.myweb.mybatis.generate.model"/>
	</typeAliases>
	<mappers> 
		<mapper resource="mappers/QueryMapper.xml"/> 
	</mappers>
</configuration>
